.dropdown {
  position: relative;
}

.dropdown-button {
/*  background-color: #f0e5db;*/
  color: #fda14c9f;
  float: right;
}

.dropdown-content {
  display: none;
  float: right;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #e0e0e0;
}
