* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: #f0e5db;
}

html,body {
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

.scrollable {
  overflow-y: scroll;
}

.mainview {
  min-height: 0;
}

#submit-channel {
  padding-top: 5px;
  padding-bottom: 5px;
}

#submit-channel .text {
  width: 80%;
}

#submit-channel .submit{
  width: fit;
  float: right;
}

#channel-list {
  padding: 0;
}

#channels-heading, #message-heading {
  color: #e66f00;
}

.channel {
  background-color: #f0f0f0;
  padding: 15px;
  border-bottom: 5px #808080;
  margin-bottom: 5px;
}

.channel:hover {
  background-color: #e0e0e0;
}

.selected-channel {
  background-color: #b0b0b0;
  padding: 15px;
  border-bottom: 5px #808080;
  margin-bottom: 5px;
}

.selected-channel:hover {
  background-color: #c0c0c0;
}

.channel-name {
  font-size: 1.5em;
  position: top;
}

.channel-time {
  font-size: 0.8em;
  color: #404040;
  float: right;
}

.message {
  background-color: #f0f0f0;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.message-name {
  font-size: 0.8em;
  color: #808080;
}

.message-time {
  font-size: 0.8em;
  float: right;
  color: #808080;
}

.message-text {
  font-size: 1em;
  border: none;
  resize: none;
  width: 100%;
}

#submit-message {
  background: #f0e5db;
  padding: 10px;
  padding-bottom: 5px;
}

#submit-message textarea {
  width: 80%;
}

#submit-message .submit {
  float: right;
}

pre {
  white-space: pre-wrap;
}
