.navbar-brand {
  font-size: 2em !important;
  font-weight: bold !Important;
}

.navbar-custom {
  background: #e0e0e0;
}
  
.icon-size {
  font-size: 2em;
}

.breadcrumb {
  background: white;
  font-size: 1.2em;
}