<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

    <script id="channel" type="text/x-handlebars-template">
      {% raw -%}
      {{#if selected}}
        <div class="channel selected-channel" id="channel-{{ id }}" value="{{ id }}">
      {{else}}
        <div class="channel" id="channel-{{ id }}" value="{{ id }}">
      {{/if}}
        <span class="channel-name">{{ name }}</span>
        <span class="channel-time">{{ time }}</span>
      </div>
      {%- endraw %}
    </script>

    <script id="message" type="text/x-handlebars-template">
      {% raw -%}
      <div class="message">
        <span class="message-name">{{ name }}</span>
        <span class="message-time">{{ time }}</span><br>
        <span class="message-text"><pre>{{ text }}</pre></span>
      </div>
      {%- endraw %}
    </script>

    <script src="{{ url_for('static', filename='index.js') }}"></script>

  </head>

  <body>
    <div class="container-fluid h-100 d-flex flex-column">
      <div class="row flex-shrink-0">
        <nav class="col-12 border navbar navbar-light navbar-custom justify-content-between">
          <a class="navbar-brand" href="#"><span class="fa fa-comments-o"></span> {{ site }}</a>
          <div class="nav-item"><span class="fa fa-user"></span> <span id="username"></span></div>
        </nav>
      </div>
      <div class="row flex-fill mainview">
        <div id="channels" class="col-lg-4 col-md-6 col-sm-12 border mh-100 scrollable">
          <h3 id="channels-heading">Channels</h3>
          <form id="submit-channel">
            <input class="text" name="channelname" autocomplete="off" maxlength="20" placeholder="New channel" type="text">
            <input class="submit" type="submit" value="&#x271A;">
          </form>
          <div id="channel-list">
          </div>
        </div>
        <div id="messages" class="col-lg-8 col-md-6 col-sm-12 border mh-100 scrollable">
          <h3 id="message-heading"></h3>
          <div id="message-list">
          </div>
          <form id="submit-message">
            <textarea class="text" name="text" rows="3" maxlength="1000" autofocus placeholder="New message"></textarea>
            <input class="submit" type="submit" value="Send">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
